.cocktail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 15px;
    padding: 10px;
    
    

    &__img{
        img{
            width: 90%;
            border-radius: 10px;
        }
    }
    &__detail{
        display: flex;
        flex-direction: row;
        align-items: center;
        
        &__name{
            margin-right: 20px;
            color: #836271;
        }
        &__category{
            margin-left: 20px;
            color:#836271;
        }
    }
}